<p id="notice"><%= notice %></p>

<h1>Listing Gun Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gun_types.each do |gun_type| %>
      <tr>
        <td><%= gun_type.name %></td>
        <td><%= link_to 'Show', gun_type %></td>
        <td><%= link_to 'Edit', edit_gun_type_path(gun_type) %></td>
        <td><%= link_to 'Destroy', gun_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gun type', new_gun_type_path %>
